.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  direction: rtl;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #e75480;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin: 1rem 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.subtitle {
  font-size: 1.5rem;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin: 0.5rem 0;
  width: 95%;
  direction: rtl;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.mainContent {
  width: 100%;
  margin: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.section {
  background: rgba(255,255,255,0.7);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 2.2rem;
  color: #D8A0A6;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  display: flex;
  font-family: 'AssistantR', sans-serif;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.listItem svg {
  margin-left: 0.5rem;
  color: #e75480;
}

.icon {
  color: #e75480;
  margin: 1rem 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .listItem {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .sectionTitle {
    font-size: 1.8rem;
  }

  .listItem {
    font-size: 1rem;
  }
}